<%= simple_form_for :search, url: events_path, method: :get do |f| %>
  <div class="search-form-control form-group d-flex">
    <%= f.input :query, as: :string, required: true, input_html: { class: 'form-control me-2' } %>
    <%= f.button :submit, 'Search', class: 'btn btn-dark' %>
  </div>
<% end %>
