<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group d-flex">
    <input class="form-control string required me-2" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-dark">
      Search
    </button>
  </div>
<% end %>