<div style="background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(https://images.unsplash.com/photo-1556056504-5c7696c4c28d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1876&q=80); background-position: center center;">
  <div class="container-xxl background-container d-flex flex-column">
    <div class="my-auto">
      <h1 class="col-md-7 offset-md-2">Create a new event!</h1>
    </div>
  </div>
</div>


<div class="horizontal-spacer"></div>
<%= render partial: "shared/form", event: @event %><br>
</div>
