<div class ="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url('<%=image_path "homebackground.jpg"%>')">
  <div class="container">
    <h1>The Local Sports Club</h1>
    <p>Uniting <strong>Sports Lovers</strong> Around the World</p>
    <a class="btn btn-flat" href="#">Sign up</a>
  </div>
</div>
