<% content_for(:navbar_class, "navbar-home") %>

<div class ="banner">
 <div class="container" >
    <h1>The Local Sports Club</h1>
    <h2>Uniting <strong>Sports Lovers</strong> Around the World</h2>
    <h3> <strong>Join</strong> our community, <strong>make </strong>new friends, <strong>play</strong> your favourite sports.</h3>
    <a class="btn-signup" href="#">Sign up</a>
      <%= link_to "Login", new_user_session_path, class: "btn-login"%>
    </div>


  </div>
  <div class="icon-container inline" >
    <p> <i class="fa-solid fa-users fa-bounce"></i> 50000+ Total players</p>
    <p> <i class="fa-solid fa-globe fa-spin"></i> 20+ countries </p>
    <p><i class="fa-solid fa-calendar-plus fa-flip"></i>
1000+ events daily </p>
    </div>
</div>
