<div class ="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url('<%=image_path "homebackground.jpg"%>')">
  <div class="container">
    <h1>The Local Sports Club</h1>
    <h2>Uniting <strong>Sports Lovers</strong> Around the World</h2>
    <h3> <strong>Join</strong> our community, <strong>make </strong>new friends, <strong>play</strong> your favourite sports.</h3>
    <a class="btn btn-flat" href="#">Sign up</a>
    <a class="btn btn-flat" href="#">Login</a>

  </div>
  <div class="icon-container inline" >
    <p> <i class="fa-solid fa-users fa-bounce"></i> 50000+ Total players</p>
    <p> <i class="fa-solid fa-globe fa-spin"></i> 20+ countries </p>
    <p><i class="fa-solid fa-calendar-plus fa-flip"></i>
1000+ events daily </p>
    </div>
</div>
