<div class="vh-100 d-flex flex-column full-height-homepage">
<% content_for(:navbar_class, "navbar-home") %>

  <div class="banner d-flex flex-column flex-grow-1" style="background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(<%=asset_path('home-background-tennis.jpg')%>);">
    <%# Main Text %>
    <div class="container my-5">
      <h1 style="font-size: 40px">The Local Sports Club</h1>
      <h2 class="mt-0">Uniting Sports Lovers Around the World</h2>
      <p>Join our community, make new friends, play your favourite sports.</p>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-dark btn-lg"%>
      <a class="btn btn-yellow btn-lg" href="#">Sign up</a>
    </div>

    <%# Icons %>
    <div class="icon-container container my-5">
      <div class="row d-flex justify-content-start">
        <div class="col-12 col-lg-4 my-2 d-flex align-items-center">
          <i class="fa-solid fa-users me-3"></i>
          <p>50,000+ total players</p>
        </div>
        <div class="col-12 col-lg-4 my-2 d-flex align-items-center">
          <i class="fa-solid fa-globe me-3"></i>
          <p>20+ countries</p>
        </div>
        <div class="col-12 col-lg-4 my-2 d-flex align-items-center">
          <i class="fa-solid fa-calendar-plus me-3"></i>
          <p>1,000+ events daily</p>
        </div>
      </div>
    </div>
  </div>
</div>
