.banner {
  background-size: cover;
  padding: 250px 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;

  h1 {
    color: #000000;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 42px;
    font-weight: bold;

  }

  h2 {
    font-size: 20px;
    color: #000000;
    opacity: .9;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin-top: 1.5pc;
  }

  p {
    margin-top: 1.5pc;
    font-size: 20px;
    color: #000000;
    opacity: .8;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 2.5rem;
  }

}
