.card-event {
  border-radius: 5px;
  height: 230px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-sizing: border-box;
  background-color: $white;
}

.fa-chevron-right {
  position: relative;
  right: 0;
  transition: right ease 0.25s;

  &:hover {
    right: -5px;
  }
}
