.icon-container {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 600;

  i {
    font-size: 30px;
    color: #6B2D5C;
  }

  p {
    margin-left: 80px;
    margin-right: 80px;
    color: #FAF0CA;
  }
}
