.icon-container {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 600;

  i {
    font-size: 32px;
    color: #070707;
    margin-right: 10px;
  }

  p {
    margin-left: 80px;
    margin-right: 100px;
    color: #000000;
  }
}
