.paragraph-spacing {
  margin-right: 10px; /* Adjust the margin value as desired */
}

.div-block {
  margin-top: 5px; /* Adjust the margin value as needed */
}

.participant-spacing {
  padding-top: 10px;
  padding-left: 10px;
}

p.thick {
  font-weight: bold;
}
