.card-show {
  padding: 2px;
}

.paragraph-spacing {
  margin-right: 10px;
  padding: 2px; /* Adjust the margin value as desired */
}

.div-block {
  margin-top: 5px; /* Adjust the margin value as needed */
}

.participant-spacing {
  margin-bottom: 40px;
  padding-left: 10px;
}
